body {
  background-color: #F4F4F2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #BBBFCA;
  border-width: 5px;
  height: 0px;
  width: 5%;
}

img {
  height: 250px;
}

h1 {
  color: #495464
}

h3 {
  color: #495464
}
